# Dependencies
node_modules
npm-debug.log*

# Next.js
.next/
out/

# Testing
coverage/
.nyc_output/

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env*
